<!DOCTYPE HTML>
<html>
	 {% include 'head.html' %}
<body>
<!---strat-banner---->
<div class="banner">				
	 {% include 'header.html' %}
	 <div class="container">
		 {% include 'bannerhead.html' %}	
	 </div>
</div>
<!---//End-banner---->
<div class="contact">
	 <div class="container">
		 <div class="contact-head">
			 <h3>CONTACT</h3>
			 <form action="" method='post'>
			 		{% csrf_token %}
					{{ form }}
					<input type="submit" value="SEND">
			</form>
		 </div>
		 <div class="address">
			 <h3>Our Locations</h3>
			 <div class="col-md-6 locations">				 
				  <ul>
					 <li><span></span></li>					 					
					 <li>
						 <div class="address-info">	
							 <h4>New York, Washington</h4>
							 <p>10-765 MD-Road</p>
							 <p>Washington, DC, United States,</p>
							 <p>Phone: 123 456 7890</p>
							 <p>Mail: <a href="mailto:info@example.com">info(at)example.com</a></p>
							 <h5><a href="">Visit on Google Maps >></a></h5>	
						 </div>
					 </li>				
				  </ul>	
				  <ul>
					 <li><span></span></li>					 					
					 <li>
						 <div class="address-info">	
							 <h4>London, UK</h4>
							 <p>10-765 MD-Road</p>
							 <p>Lorem ipsum, domon sit, UK,</p>
							 <p>Phone: 123 456 7890</p>
							 <p>Mail: <a href="mailto:info@example.com">info(at)example.com</a></p>
							 <h5><a href="">Visit on Google Maps >></a></h5>	
						 </div>
					 </li>				
				  </ul>		
			 </div>
			 <div class="col-md-6 locations">				 
				  <ul>
					 <li><span></span></li>					 					
					 <li>
						 <div class="address-info">	
							 <h4>Brazil, SouthAmerica</h4>
							 <p>10-765 MD-Road</p>
							 <p>Argentina,Filps Road</p>
							 <p>Phone: 123 456 7890</p>
							 <p>Mail: <a href="mailto:info@example.com">info(at)example.com</a></p>
							 <h5><a href="">Visit on Google Maps >></a></h5>	
						 </div>
					 </li>				
				  </ul>	
				  <ul>
					 <li><span></span></li>					 					
					 <li>
						 <div class="address-info">	
							 <h4>San Francisco, California</h4>
							 <p>10-765 MD-Road</p>
							 <p>Lorem ipsum, domon sit, California,</p>
							<p>Phone: 123 456 7890</p>
							 <p>Mail: <a href="mailto:info@example.com">info(at)example.com</a></p>
							 <h5><a href="">Visit on Google Maps >></a></h5>	
						 </div>
					 </li>				
				  </ul>		
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<!--fotter-->
{% include 'footer.html' %}
<!---fotter/-->
{% include 'rightreserved.html' %}
</div>
<!---->
<!---->
<script type="text/javascript">
		$(document).ready(function() {
				/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
				*/
		$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>




</body>
</html>
